html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
    font-family: Arial, Verdana, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #ffffff;
    background-color: #070217;
}

.logo {
    display: inline-block;
    margin-bottom: 50px;
}

.links {
    margin-bottom: 50px;
}

.link {
    display: inline-block;
    padding: 24px 49px;
    font-size: 18px;
    font-weight: 700;
    background-color: #3f2aff;
}

.download {
    padding-left: 30px;
    background-image: url("/img/download.png");
    font-size: 18px;
    font-weight: 700;
    color: #3f2aff;
    background-position: left center;
    background-repeat: no-repeat;

}

.link:not(:last-child) {
    margin-right: 25px;
}

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}

.osnova {
    font-weight: bold;
}

.zagolovki1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 400;
    color: #333;
    line-height: 60px;
}

.zagolovki2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 46px;
    color: #333;
}

.zagolovki3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    color: #333;
}

.och_nado {
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 95px;
    padding-right: 95px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    background-color: #3f2aff;
}

.text {
    width: 872px;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    line-height: 32px;
}

.text:not(:last-child) {
    margin-bottom: 40px;
}

.gray-box {
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    background-image: url("/img/decorate-1.png");
    background-position: right center;
    background-repeat: no-repeat;

}

.gray-box2 {
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    background-image: url("/img/decorate-2.png");
    background-position: right center;
    background-repeat: no-repeat;

}

.gray-box:not(:last-child) {
    margin-top: 0;
    margin-bottom: 40px;
}

.gray-box .text {
    width: 692px;
    margin-bottom: 10px;
}

.gray-box2 .text {
    width: 692px;
    margin-bottom: 10px;
}

.spisk {
    margin-left: -20px;
}

ul li::marker {
    color: #3f2aff;
    font-size: 20px;
}


.slova {
    margin-bottom: 20px;
    font-size: 20px;
    color:#3f2aff;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #3f2aff;
}


.image {
    margin-bottom: 40px;
}

.figyra {
    margin: 0;
    font-size: 0;
    display: block;
    margin-bottom: 40px;
    width: 872px;
}

.opisanie {
    border: 1px solid #b6b6b6;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 19px;
    padding-top: 19px;
    text-align: center;
}

.opisanie2 {
    border: 1px solid #b6b6b6;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 19px;
    padding-top: 19px;
    text-align: center;
}